.App {
  text-align: center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: rgb(75, 70, 70);
}

.main {
  margin-left: 160px; 
  padding: 0px 10px;
}