.NavBar {
    height: 100%;
    width: 145px; 
    position: fixed;
    z-index: 0; 
    top: 0; 
    left: 0;
    background-color: #000000; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.NavBar a {
    padding: 9px 9px 9px 18px;
    text-decoration: none;
    font-size: 25px;
    color: #ebe9e9;
    display: flex; 
}

.NavBar a:hover {
    color: #63a717;
}
